src/database/backup_db/*
src/database/inflx.env
src/data_collection/transfer_db_cloud.py
src/database/gf_smtp.env
src/database/influxdb/config/*
src/data_collection/volume/*
__pycache_*
src/database/backup_db.sh
